
.slide-up-leave-active {
	transition:1s;
	overflow: hidden;
	transform: rotateY(-180deg);
	opacity: 0;
}


.slide-up-enter-active{
	// transform: translateY(2em);
	transition-delay: .5s;
	transform-origin: center;
	transform: rotateY(-90deg);
}
.slide-up-enter-to{
}



// .perspective-enter-active,
// .perspective-leave-active,
// .slide-right-enter-active,
// .slide-right-leave-active {
// 	transition: cubic-bezier(0.69, 0.14, 0.36, 0.88) 0.4s opacity, transform;
// 	overflow: hidden;
// }

// .slide-up-enter,
// .slide-right-leave-active {
// 	opacity: 0;
// 	transform-origin: center;
// 	transform: rotateY(-45deg);
// }

// .slide-up-leave-active,
// .slide-right-enter {
// 	opacity: 1;
// 	transform: rotateY(0);
// }

